body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
.login{
  
  margin-top: 100px;
  max-width: 600px;
  border: 2px solid #130909;
  border-radius: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  
}
.login h2{
  color: #0077ff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
}
.login ::placeholder{
  color: #0077ff;
  padding: 10PX;
  
}
.dashbord{
  margin-top: 100px;
  max-width: 700px;
  border: 2px solid #0062ff;
  border-radius: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px #0077ff;
}
.dashbord h2 {
  font-size: 40px;
  color: #0077ff;
}
.dashbord p {
  font-size: 20px;
  color: #0077ff;
}
.dashbord button{
  background-color: #ffffff;
  color:#0077ff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-left: 10px;
  
}
.dashbord button:hover{
  background-color: #0077ff;
  color: #ffffff;
}
.balance{
  font-size: 50px;
  margin-top: 100px;
  max-width: 700px;
  border: 2px solid #0062ff;
  border-radius: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.4s ease-in-out;
  box-shadow: 0 0 10px #0077ff;
}
.balance:hover{
  background-color: #0077ff;
  color: #ffffff;
}
.deposit{
  font-size: 50px;
  margin-top: 100px;
  max-width: 700px;
  border: 2px solid #0062ff;
  border-radius: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
box-shadow: 0 0 10px #0077ff;
}
.deposit button{
  background-color: #ffffff;
  color:#0077ff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-right: 10px;
  
}
.deposit button:hover{
  background-color: #0077ff;
  color: #ffffff;
}
.deposit .depoplace{
  color: #0077ff;
  padding: 10PX;
  font-size: 19px;
  margin-right: 10px;
  border-radius: 5px;
}
.withdraw{
  font-size: 50px;
  margin-top: 100px;
  max-width: 700px;
  border: 2px solid #0062ff;
  border-radius: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px #0077ff;
}
.withdraw button{
  background-color: #ffffff;
  color:#0077ff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-right: 10px;
  
}
.withdraw button:hover{
  background-color: #0077ff;
  color: #ffffff;
}
.withdraw .withplace{
  color: #0077ff;
  padding: 10PX;
  font-size: 19px;
  margin-right: 10px;
  border-radius: 5px;
}